<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis NLP App</title>
</head>
<body>
    <h1>Sentiment Analysis NLP App</h1>
    <h2>Results</h2>
    <p>Sentiment: {{ sentiment }}</p>
    {% if sentiment.polarity > 0 %}
        <p>Sentiment: Positive 😊</p>
    {% elif sentiment.polarity < 0 %}
        <p>Sentiment: Negative 😠</p>
    {% else %}
        <p>Sentiment: Neutral 😐</p>
    {% endif %}

    <h2>Dataframe</h2>
    {{ result_df|safe }}

    <h2>Token Sentiment</h2>
    {{ token_sentiments|safe }}
</body>
</html>
